.header__lang-link {
  justify-items: flex-end;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.16;
  margin: 0 18px 0 0;
  color: white;
  text-decoration: none;
}

.header__lang-link:nth-of-type(2) {
  margin: 0;
}

@media screen and (max-width: 739px) {
  .header__lang-link {
    font-size: 18px;
  line-height: 20px;
    }
} 