.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 984px;
}

@media screen and (max-width: 1025px) {
  .lead {
    max-width: 911px;
    }
} 

@media screen and (max-width: 769px) {
  .lead {
    max-width: 768px;
    padding: 0;
    }
} 

/*@media screen and (max-width: 739px) {
  .lead {
    max-width: 320px;
    }
} */