.header {
    display: grid;
    grid-template-columns: 30fr 1fr 1fr;
    align-items: center;
    max-width: 1280px;
    padding: 28px 48px 56px 48px;
  }

  @media screen and (max-width: 1200px) {
    .header {
      padding: 28px 48px 48px 48px;
      }
  } 
  
  @media screen and (max-width: 931px) {
    .header {
      padding: 28px 24px 48px 24px;
      }
  } 
  
  @media screen and (max-width: 739px) {
    .header {
      padding: 16px 16px 48px 16px;
      }
  } 