.lead__image {
  min-height: 615px;
  background-image: url("../../../images/lead-polka.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 50%;
  flex-shrink: 0;
}

@media screen and (max-width: 1200px) {
  .lead__image {
    min-height: 580px;
    }
} 

@media screen and (max-width: 931px) {
  .lead__image {
    min-height: 480px;
    }
} 

@media screen and (max-width: 739px) {
  .lead__image {
    min-height: 200px;
    }
} 