.intro {
  margin: 0 auto;
  padding-top: 92px;
  padding-right: 23%;
  max-width: 690px;
}

@media screen and (max-width: 1200px) {
  .intro {
    padding-right: 22%;
    }
} 

@media screen and (max-width: 931px) {
  .intro {
    padding-top: 88px;
    padding-right: 0;
    max-width: 720px;
    }
}

@media screen and (max-width: 739px) {
  .intro {
    padding-top: 64px;
    margin: 0 16px;
    max-width: 288px;
    }
}