.cover {
  box-sizing: border-box;
  margin: 0 auto 0 auto;
  margin-top: 92px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  max-width: 1184px;
}

@media screen and (max-width: 1025px) {
  .cover {
    max-width: 1024px;
    }
} 

@media screen and (max-width: 931px) {
  .cover{
    max-width: 768px;
    margin-top: 90px;
    }
} 

@media screen and (max-width: 739px) {
  .cover{
    margin-top: 66px;
    }
} 