.footer__nav {
    display: grid;
    grid-template-columns: repeat(5, 0.5fr) 10fr;
    grid-gap: 18px;
    justify-items: end;
    align-items: center;
    padding: 92px 48px 24px 48px;
    margin: 0 auto;
    max-width: 1280px;
}

@media screen and (max-width: 769px) {
  .footer__nav {
    padding: 88px 24px 24px 24px;
    }
  } 

@media screen and (max-width: 556px) {
    .footer__nav {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
      grid-gap: 32px;
      justify-items: start;
      padding: 64px 118px 24px 16px;
      }
    } 