.footer {
    display: grid;
    grid-template-columns: repeat(5, 0.5fr) 10fr;
    grid-gap: 18px;
    justify-items: center;
    align-items: center;
    /*width: 1184px;*/
    padding: 0 0 28px 0;
  }
  
@media screen and (max-width: 739px) {
  .footer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 0;
    justify-items: start;
    padding: 0 0 28px 16px;
    }
  } 